{
	"extends": "allenmoore",
	"globals": {
		"document": true,
		"window": true,
		"cosole": true
	},
	"rules": {
		"no-console": 0,
		"one-var": [ 2, "never" ],
		"no-param-reassign": [ 2, { "props": false } ]
	}
}
