# This block ignores everything in wp-content, using negation patters to
# include the hnf theme directory.
wp-content/**/*
!wp-content/themes/
!wp-content/themes/hnf/

# Ignore the dependency management directories
vendor/
node_modules/

# Exclude the main WordPress directory
wp/

# Exclude the env file since this will vary on environment and not exist
# in production.
.env

# Exclude dist directories
dist
