.menu-clone {
	display: none;
	width: 100%;
	top: 0;
	@media screen and (min-width: $bp-small) {
		position: fixed;
		display: block;
		.fl-builder-edit & {
			z-index: 100007;
		}
	}
	.tagline-bar {
		position: static;
	}
	.logo {
		@media screen and ( min-width: $bp-small ) {
			margin: 0;
			padding: 20px 0;
			max-width: 130px;
		}
	}
	.site-navigation {
		border-top: 0;
		position: absolute;
		bottom: 20px;
		right: 0;

		ul {
			padding: 0;
		}
	}
	.header-drawer {
		position: relative;
		z-index: -1;
		background: $white;
		transform: translate3d( 0, -100%, 0 );
		transition: transform 0.7s ease;

		.minimized-nav & {
			transform: translate3d( 0, 0, 0 );
		}
	}
}

.fl-builder-panel {
	z-index: 100008
}
