/* Colors */
$white: #FFFFFF;
$gray: #58595B;
$light-gray: #E8E7E7;
$dark-gray: #333333;
$teal: #43C3D8;
$orange: #FCAF1E;

/* Breakpoints */
$bp-h-small: 550px;
$bp-small: 600px;
$bp-small-mid: 782px;
$bp-large: 960px;
