.site-header {
	margin-bottom: 2em;
	.admin-bar & {
		margin-top: 46px;
	}
	@media screen and (min-width: $bp-small-mid) {
		.admin-bar & {
			margin-top: 32px;
		}
	}
	.fl-builder-edit & {
		margin-top: 43px;
	}
}
.tagline-bar {
	background-color: $teal;
	color: $white;
	font-size: 0.85em;
	text-align: center;
	padding: 0.5em;
	border-bottom: 6px solid $light-gray;
	position: absolute;
	top: 0;
	z-index: 21;
	width: 100%;
	.admin-bar & {
		top: 46px;
	}
	@media screen and (min-width: $bp-small) {
		position: fixed;
	}
	@media screen and (min-width: $bp-small-mid) {
		.admin-bar & {
			top: 32px;
		}
	}
	.fl-builder-edit & {
		top: 43px;
	}
}
.logo {
	font-size: 1.8em;
	max-width: 120px;
	margin: 0 auto 0.5em;
	img {
		margin-bottom: 0;
		display: block;
	}
	@media screen and (min-width: $bp-small) {
		padding: 0.2em 0 0.2em;
		max-width: 180px;
	}
	@media screen and (min-width: $bp-small-mid) {
		padding: 0.8em 0 0.5em;
		max-width: 250px;
	}
}
.site-navigation {
	font-size: 0.8em;
	text-transform: lowercase;
	border-top: 1px solid $light-gray;
	li ~ li {
		border-color: $light-gray;
	}
}
.site-header .constrained {
	position: relative;
	border-bottom: 1px solid $light-gray;
}
.social-bar {
	background-color: #FCAF1E;
	color: #FFFFFF;
	font-size: 0.85em;
	padding: .75em;
}
.social-bar-constrain {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;

	ul {
		margin: 0;
		padding: 0 0 0.5em;
		list-style: none;
	}
	ul ~ ul {
		padding-top: 0.5em;
		border-top: 1px solid;
	}
	li {
		margin: 0;
		padding: 0;
	}
	a {
		display: inline-block;
		color: inherit;
		text-decoration: none;
		padding: 0.5em 0;
	}
	@media screen and (min-width: $bp-small) {
		display: flex;
		justify-content: space-between;
		text-align: left;

		ul {
			display: flex;
			padding: 0
		}
		ul ~ ul {
			border-top: none;
			padding: 0;
		}
		a {
			padding: 0 0.5em 0 0;
		}
		li ~ li a {
			padding-left: 0.5em;
			border-left: 1px solid;
		}
	}
}
.hammer-bar {
	height: 160px;
	background-image: url("../../img/hammers.svg");
	background-size: 160px 160px;
	position: relative;
}
.hammer-bar::after {
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: darken( $gray, 10% );
	background-image:  linear-gradient(to bottom,  $gray 0%, darken( $gray, 10% ) 100%);
}
.copyright {
	padding: 1em 0;
	font-size: 0.85em;
	background-color: #333333;
	color: #FFFFFF;
	text-align: center;
}
